# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual env
.venv/

# OS / IDE
.DS_Store
.vscode/

# Data / outputs
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

reports/figures/*
!reports/figures/.gitkeep
